h3,
h1{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color:  #3D9C3D;
    max-width: 100%;
    text-align: center;
    
}
p{
  color: rgb(31, 30, 30);
}
hr{
    margin: 0;
}
.mainPage{
    margin-top: 130px;
}
.missionAndGoals,
.advantagesHeading{
   
}
.advantagesHeading{
    margin-bottom: 30px;
}
.advantages{
    display: flex;
     padding: 15px;
}
.advantage{
    display: flex;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
    0px 2px 10px rgba(0, 0, 0, 0.08),
     0px 1px 1px rgba(0, 0, 0, 0.16);
     padding: 15px;    
     margin: 10px;
     border: black  2px solid;
     border-radius: 6px;
}
.missionAndGoalsBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.missionAndGoals{
    margin-bottom: 30px;
}
.missionBox{
   
}
.missionHeader{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: black;
    margin-bottom: 10px;
}
.missionBody{
    width: 300px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    border: black  2px solid;
     border-radius: 6px;
     box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
     0px 2px 10px rgba(0, 0, 0, 0.08),
      0px 1px 1px rgba(0, 0, 0, 0.16);
     padding: 5px 20px 5px 20px;
}
.map{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.slideImg{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    z-index: -1;
}
.history_1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}
.imgHistoryBox{
   
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.imgHistory{
    width: 400px;    
    border-radius: 6px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
    0px 2px 10px rgba(0, 0, 0, 0.08),
     0px 1px 1px rgba(129, 103, 103, 0.16);
}
.imgHistoryText{
    margin: 0;
    opacity: 0.7;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.map_2{
    display: none;
}
@media (max-width: 830px) {
.advantages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slideImg{
    width: 500px;
}
.map{
    display: none;
}
.map_2{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
}
@media (max-width: 700px) {
  
    .missionAndGoalsBox{
        display: block;
    }
    .missionBox{
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .imgHistory{
        width: 300px;
    }
}
@media (max-width: 520px) {
    .slideImg{
        width: 300px;
    }
}

@media (max-width: 420px) {
      .advantages{
        grid-template-columns: 1fr;
    }
}